.moonkinContainer__moonkin {
  position: absolute;
  // right: 3%;
  // top: 32%;
  //width: 120px;

  img {
    position: absolute;
    width: 100%;
  }

  //   .moonkin_standing_straight {
  //     transform: scale(1.06);
  //   }
  //   .moonkin_standing_looking_right {
  //     top: -4px;
  //     right: 7px;
  //   }
  //   .moonkin_sitting_straight {
  //     top: 22px;
  //   }
  //   .moonkin_eating_1 {
  //     top: 31px;
  //   }
  //   .moonkin_eating_2 {
  //     top: 27px;
  //   }
}

.moonkin__image {
  position: absolute;
  width: 120px;
  bottom: 45%;
  right: 3.25%;

  @media only screen and (max-width: 4100px) {
    width: 170px;
  }

  @media only screen and (max-width: 1600px) {
    width: 120px;
  }
}
