.moonkinContainer__moonkin {
  position: absolute;
  right: 35px;
  top: 232px;
  width: 120px;

  img {
    position: absolute;
    width: 100%;
  }

  //   .moonkin_standing_straight {
  //     transform: scale(1.06);
  //   }
  //   .moonkin_standing_looking_right {
  //     top: -4px;
  //     right: 7px;
  //   }
  //   .moonkin_sitting_straight {
  //     top: 22px;
  //   }
  //   .moonkin_eating_1 {
  //     top: 31px;
  //   }
  //   .moonkin_eating_2 {
  //     top: 27px;
  //   }
}
