.moonkinContainer__moonkin {
  position: absolute;
  width: fit-content;
  bottom: 45%;
  right: 3.25%;
  opacity: 0;

  img {
    width: 120px;

    @media only screen and (max-width: 4100px) {
      width: 170px;
    }

    @media only screen and (max-width: 1600px) {
      width: 120px;
    }
  }
}

.mount_moonkin {
  transform-origin: bottom center;
  animation: mkmount 0.25s ease-out;
  animation-fill-mode: forwards;
}

.unmount_moonkin {
  transform-origin: bottom center;
  animation: mkunmount 0.25s ease-in;
  animation-fill-mode: forwards;
}

@keyframes mkmount {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  80% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes mkunmount {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.975);
  }
}
