@font-face {
  font-family: lifecraft;
  src: url(../resources/fonts/lifecraft.ttf);
}

h3,
p {
  margin: 0;
}

body {
  overflow: overlay;
}

html {
  background-color: black;
}

.shakeIt {
  overflow: hidden;
  animation: shakeScreen 0.2s;
}

@keyframes shakeScreen {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(-0.5%);
  }
}
