.potionContainer {
  width: 266px;
  height: 430px;
  position: absolute;
  right: 0;
  top: 0;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .potionCork {
    position: absolute;
    width: 39%;
    top: 0;
    left: 82px;
  }
}
