:root {
  --scale: 1;
}

.initialAchievement {
  display: block;
  position: absolute;
  right: 25%;
  top: 23%;
  width: 380px;
  height: 430px;

  @media only screen and (max-width: 4100px) {
    --scale: 1.2;
    top: 30%;
    right: 27%;
  }

  @media only screen and (max-width: 1600px) {
    --scale: 1;
    top: 23%;
    right: 26%;
  }

  @media only screen and (max-width: 640px) {
    --scale: 0.75;
    position: relative;
    right: 0;
    top: 0;
    margin-top: 35px;
  }

  transform: scale(calc(var(--scale) / 2));
}

.achievementContainer {
  display: none;
  position: absolute;
  right: 25%;
  top: 23%;
  width: 380px;
  height: 430px;
  opacity: 0;
  transition: all 1s;

  animation: mountFlask 0.35s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  @media only screen and (max-width: 4100px) {
    --scale: 1.2;
    top: 30%;
    right: 27%;
  }

  @media only screen and (max-width: 1600px) {
    --scale: 1;
    top: 23%;
    right: 26%;
  }

  @media only screen and (max-width: 640px) {
    --scale: 0.75;
    position: relative;
    right: 0;
    top: 0;
    margin-top: 35px;
  }

  transform: scale(calc(var(--scale) / 2));
}

@keyframes mountFlask {
  from {
    opacity: 0;
    transform: scale(calc(var(--scale) / 2));
  }
  to {
    opacity: 1;
    transform: scale(var(--scale));
  }
}

.showAchievement {
  display: block;
}

.moveToSide {
  right: 15% !important;
}
