.achievementContainer {
  position: absolute;
  right: 25%;
  top: 23%;
  width: 380px;
  height: 430px;
  opacity: 0;
  transform: scale(0.5);
  animation: mountFlask 0.35s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  @media only screen and (max-width: 640px) {
    position: relative;
    //transform: scale(0.75);
    right: 0;
    top: 0;
    margin-top: 35px;
    opacity: 0;
    transform: scale(0.25);
    animation: mountFlaskMobile 0.35s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.15s;
  }
}

@keyframes mountFlask {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes mountFlaskMobile {
  from {
    opacity: 0;
    transform: scale(0.25);
  }
  to {
    opacity: 1;
    transform: scale(0.75);
  }
}
