.crumbContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  transform: translate(-50%, -50%);
}

.showPointer {
  &:hover {
    cursor: pointer;
  }
}

.noHover {
  pointer-events: none;
}

.xHuyepR32uv__base {
  float: left;
}

._cache {
  position: absolute;
  top: -10000px;
  left: -10000px;
  visibility: hidden;
}
