.contributerItem {
  display: flex;
  color: white;
  direction: ltr;

  p {
    margin: 0;
  }
}

.contributerItem__achievement {
  color: lime;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
