.contributerItem {
  display: flex;
  color: white;
  direction: ltr;
  //padding-left: 25px;
  //box-sizing: border-box;
  //min-width: 300px;
  p {
    margin: 0;
  }

  .contributer__userContent {
    display: flex;
    p {
      padding-left: 5px;
    }
  }

  .authedInput {
    &:hover {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.356);
    }
  }

  .contributerBtnContainer {
    display: flex;

    .contributer__btn {
      border: 1px solid rgba(255, 255, 255, 0.356);
      color: rgba(255, 255, 255, 0.356);
      margin-left: 20px;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        border-color: white;
        color: white;
        cursor: pointer;
      }
    }

    .contributer__closeBtn {
      padding: 0px 8px 0px 8px;
      span {
        font-size: 16px;
        transform: translateY(-12.5%);
      }
    }

    .contributer__applyBtn {
      padding: 0px 6px 0px 7px;
      span {
        font-size: 14px;
        transform: translateY(-8.5%);
      }
    }
  }
}

.contributerItem__achievement {
  color: lime;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
